:root{
    --primary : #5e3b5e;
}


.btn-purple{
border: 1px solid var(--primary);
color: var(--primary);

}
/* experties */
.heading{
    padding: 30px;
}
.gallary{
    background-color: #f5fcff !important;
    outline: 20px solid white;
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
}
.head{
    padding: 30px;
}
.h1{
    padding: 20px;
    text-align: center;
}
/* form */
.new {
    border: 1.5px solid #5E3BEE;

}

.form-control.new:focus,
.form-select.new:focus,
textarea.form-control.new:focus {
    background-color: transparent;
    border: 1.5px solid #5f3beea6;
    outline: 0;
    box-shadow: 1px 1px 10px #5f3beea6;
}

/* footer */
.footer-border {
    border-top: 1px solid black;
}

.border-width {
    width: 93%;
}
.color{
    background-color: #5E3BEE;
    color :white
;
}

/* media quaires */
@media screen and (min-width:992px) {
    .project-width {
        width: 30%;
    }

    .custom {
        width: 31%;
    }
}